@forward "./reset.scss";

$bp-tablet: 37.5em; // 600px
$bp-desktop: 62.5em; // 1000px

:root {
  // Colors

  --clr-primary-600: hsl(314, 45%, 23%);
  --clr-primary-400: hsl(252, 66%, 62%);
  --clr-primary-200: hsl(172, 46%, 57%);

  --clr-secondary-600: hsl(7, 77%, 66%);
  --clr-secondary-400: hsl(28, 89%, 67%);
  --clr-secondary-200: hsl(0, 78%, 79%);

  --clr-neutral-600: hsl(0, 0%, 1%);
  --clr-neutral-400: hsl(30, 5%, 45%);
  --clr-neutral-200: hsl(28, 100%, 97%);

  // Fonts

  --ff-default: "Plus Jakarta Sans", sans-serif;

  --fs-800: clamp(2.25rem, 0.375rem + 5vw, 3.5rem); // 36px 56px;
  --fs-700: 2.5rem; // 40px;
  --fs-600: 2rem; // 32px;
  --fs-500: 1.5rem; // 24px;
  --fs-400: clamp(1rem, 0.8125rem + 0.5vw, 1.125rem); // 16px 18px;
  --fs-300: 1rem; // 16px;

  --lh-800: 4.375rem; // 70px;
  --lh-700: 3.1875rem; // 51px;
  --lh-600: 2.5rem; // 40px;
  --lh-400: 1.75rem; // 28px;

  --fw-700: 700;
  --fw-400: 400;

  --max-width: 69.375rem; // 1110px
  --page-padding: 1rem;
  --spacer: 5rem;

  --block-padding: 1.5rem;
  --block-gap: 1.5rem;
  --block-radius: 0.5rem;
}

body {
  font-family: var(--ff-default);
  font-size: var(--fs-400);
  font-weight: var(--fw-400);
  line-height: var(--lh-400);
  color: var(--clr-neutral-400);
  background-color: var(--clr-neutral-200);
}

h1,
.h1,
h2,
.h2,
h3,
.h3 {
  font-weight: var(--fw-700);
  color: var(--clr-neutral-600);
}

h1,
.h1 {
  font-size: var(--fs-800);
  line-height: 1.1;
}

h2,
.h2 {
  font-size: var(--fs-700);
  line-height: var(--lh-700);
}

h3,
.h3 {
  font-size: var(--fs-600);
  line-height: var(--lh-600);
}

// Utilities
.container {
  width: min(var(--max-width), 100% - (max(var(--page-padding), 5vw) * 2));
  margin-inline: auto;
}

.split {
  display: grid;
  grid-auto-flow: row;
  grid-auto-columns: 1fr;
}

.flow-content > * + * {
  margin-top: var(--flow-spacer, var(--spacer));
}

// General Components

.button {
  color: var(--clr-neutral-200);
  background-color: var(--bg, var(--clr-secondary-600));
  font-size: var(--fs-300);
  font-weight: var(--fw-400);
  line-height: var(--lh-400);
  padding: 0.875em 2.8125em; // 14px 45px
  border: none;
  border-radius: 1000vw;

  &:hover {
    --bg: var(--clr-secondary-400);
  }
}

.button-alt {
  --bg: var(--clr-neutral-600);

  &:hover {
    --bg: var(--clr-primary-400);
  }
}

// Specific Components

.header {
  display: flex;
  justify-content: space-between;
  padding-block: 1rem;
}

.hero {
  --max-width: 47rem;
  text-align: center;

  p {
    margin-top: 1.25rem;
    margin-top: clamp(1rem, 0.25rem + 2vw, 1.5rem);
  }
}

.blocks {
  display: grid;
  gap: var(--block-gap);
  font-size: var(--fs-500);
  font-weight: var(--fw-400);
  color: var(--clr-neutral-200);

  // mobile
  min-height: 72.75rem;
  grid-template-areas: "gd gd" "gd gd" "ui ap" "il il" "ph ph" "mg mg";

  // tablet
  @media (min-width: $bp-tablet) {
    min-height: 35.625rem;
    grid-template-areas: "gd gd ui ap" "gd gd il il" "ph ph mg mg";
  }

  // desktop
  @media (min-width: $bp-desktop) {
    min-height: 22.75rem;
    grid-template-areas: "gd gd ui ap ph ph" "gd gd il il mg mg";
  }

  span {
    justify-self: start;
    align-self: end;
    padding: 0 0 var(--block-padding) var(--block-padding);
  }

  img {
    justify-self: end;
    align-self: start;
    padding: var(--block-padding) var(--block-padding) 0 0;
  }
}

.block {
  border-radius: var(--block-radius);
}

.graphic-design {
  grid-area: gd;
  background-color: var(--clr-primary-400);
}

.ui-ux {
  grid-area: ui;
  background-color: var(--clr-secondary-400);
}

.apps {
  grid-area: ap;
  background-color: var(--clr-secondary-200);
}

.photography {
  grid-area: ph;
  background-color: var(--clr-primary-200);
}

.illustrations {
  grid-area: il;
  background-color: var(--clr-secondary-600);
}

.motion-graphics {
  grid-area: mg;
  background-color: var(--clr-primary-600);
}
